.container {
  width: 1920px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
  text-align: center; }
  .container .wrap {
    margin: 0 auto;
    width: 1200px; }
  .container .text {
    font-size: 24px;
    line-height: 36px; }
  .container a {
    display: block; }
  .container .titArea {
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    padding-top: 56px; }

.banner {
  padding: 308px 0;
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week2/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .banner .bannerIn {
    color: #fff;
    font-style: italic;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left; }
    .banner .bannerIn .tlt1 {
      font-size: 24px;
      line-height: 42px; }
    .banner .bannerIn .tit2 {
      font-size: 80px;
      line-height: 106px;
      margin-bottom: 32px;
      font-weight: bold; }
    .banner .bannerIn ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 40px; }
      .banner .bannerIn ul li {
        width: 60px;
        padding: 0 8px; }

.aboutBg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 42px; }
  .aboutBg img {
    width: 384px;
    margin: 40px auto 20px; }
  .aboutBg .text {
    margin-bottom: 10px;
    padding-bottom: 24px;
    position: relative; }
    .aboutBg .text:before {
      content: "";
      position: absolute;
      width: 412px;
      height: 1px;
      background-color: #000;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: 0; }
  .aboutBg ul li {
    font-size: 24px;
    line-height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 14px 0; }
  .aboutBg ul span {
    margin-right: 16px;
    border-radius: 50%;
    display: inline-block;
    background-color: #891818;
    width: 22px;
    height: 22px; }

.brandBg {
  background-color: #000000;
  color: #fff;
  padding-bottom: 160px; }
  .brandBg .wrap .text {
    margin: 12px 0 68px; }
  .brandBg .wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -20px -12px; }
    .brandBg .wrap ul li {
      padding: 20px 0; }
      .brandBg .wrap ul li:nth-of-type(2), .brandBg .wrap ul lii:nth-of-type(3) {
        width: 50%;
        padding: 20px 12px; }

.worksBg {
  padding-bottom: 144px; }
  .worksBg .wrap .titArea {
    margin-bottom: 16px; }
  .worksBg .wrap .text {
    margin-bottom: 56px; }
  .worksBg .wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -12px -48px; }
    .worksBg .wrap ul li {
      width: 33.3%;
      padding: 0 12px 48px; }
      .worksBg .wrap ul li span {
        margin-top: 16px;
        display: block;
        font-size: 20px;
        line-height: 42px; }
      .worksBg .wrap ul li:nth-of-type(4), .worksBg .wrap ul li:nth-of-type(5) {
        width: 50%; }

.contact {
  background-color: #000000;
  padding: 8px 0 64px;
  color: #fff; }
  .contact .titArea {
    margin-bottom: 8px; }
  .contact ul {
    line-height: 32px; }
    .contact ul li {
      display: block;
      padding: 8px 0; }

/*# sourceMappingURL=all.css.map */
